{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <div id="login_box" class="main_box_background">
        <p>You are already logged in.</p>
    </div>
    {% else %}
    <div id="login_box" class="main_box_background">
        <h1 id="login_text" class="title">Login</h1>
        <form id="auth_form" method="post" action="{% url 'login:login' %}">
            {% csrf_token %}
            <div class="login_item">
            <label for="id_username" class="small">Username<br></label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            </div>

            <div class="login_item">
            <label for="id_password" class="small">Password<br></label>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
            </div>

            <div class="login_item">
                <p class="small">No account? <a href="/register">Create account</a></p>
            </div>
            <div class="confirm_button">
                <input class="header_button" type="submit" value="Confirm"/>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock %}


{% block scripts %}
<script>
    const profile_id = "{{profile_id}}";
    
    toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "timeOut": "5000"
    };

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'debug' %}
                toastr.info("{{ message|escapejs }}");
            {% elif message.tags == 'info' %}
                toastr.info("{{ message|escapejs }}");
            {% elif message.tags == 'success' %}
                toastr.success("{{ message|escapejs }}");
            {% elif message.tags == 'warning' %}
                toastr.warning("{{ message|escapejs }}");
            {% elif message.tags == 'error' %}
                toastr.error("{{ message|escapejs }}");
            {% else %}
                toastr.info("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
    {% endif %}

</script>


{% endblock %}