body {
    background-color: #2C3E50;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #34495E;
    color: white;
    padding: 1rem;
    text-align: center;
}

a {
    color: #008cba;
    text-decoration: none;
}

.title {
    font-size: 3rem;
    display: inline;
}
.medium {
    font-size: 1.9rem;
}
.small {
    font-size: 1.2rem;
}
.main-box-background {
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    background-color: #34495E;
}
/* --------------------------- HEADER --------------------------- */
.header_flexbox {
  display: flex;
  justify-content: space-between;
  box-shadow: #2C3E50;
}

.header_button {
    background-color: #3F5B76;
    font-size: 1.7rem;
    color: white;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    justify-content: center;
    border-radius: 999px;
    font-family: 'Poppins', sans-serif;
}

.header_button:active {
    background-color: #b4bfc9;
    color: black;
}


/* --------------------------- HOMEPAGE --------------------------- */
.cps_button {
    border: none;
    color: black;
    background-color: #d9d9d9;
    padding: 20%;
    padding-top: 26%;
    padding-bottom: 26%;
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    transition: 0.05s;
}
.cps_button:active {
    color: #3F5B76;
    background-color: #d9d9d9e6;
}

#homepage_flexbox {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#homepage_left {
    margin-top: 3%;
    width: 50%;
    height: 100%
}

#friends_button {
    background-color: #3F5B76;
    font-size: 3vw;
    color: white;
    border: none;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#friends_button:active {
    background-color: #b4bfc9;
    color: black;
}


/*Absolute centre on leaderboards button while the screenspace allows for it*/
@media (min-width: 700px) {
    #leaderboards_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
}

@media (max-width: 699px) {
    /* Reduce size of header buttons with certain screen size */
    .header_button {
        font-size: 1.2rem;
    }
    /* Allow button font to increase when it is moved */
    #friends_button {
        font-size: 5vw;
    }
    .cps_button {
        font-size: 5vw;
    }
    /* Effectively move the friends button below the click speed test */
    #homepage_flexbox {
        display: inline;
    }
    /* re-center click speed test */
    #homepage_left {
        margin-top: 3%;
        width: 100%;
        height: 100%
    }
    
}


/* --------------------------- LOGIN --------------------------- */
#login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 1%;
    margin-top: 5%;
}

#login-text {
    padding-bottom: 20%;
    margin-bottom: 3%;
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20%;
}

.helptext {
    padding-block: 1px;
    padding-inline: 2px;
    font-size: 0.8rem;
    font-style: italic;
}