{% extends 'base.html' %}
{% load static %}

{% block title %}CPS 1v1{% endblock %}

{% block content %}

<div id="pregame_box" class="main_box_background">
    <p id="sharelink_text">Share this link with the friend that you want to invite.</p>
    <button class="header_button" id="copy_link_button">Copy 🔗</button>
    <input type="text" id="game_link" name="game_link" value="..." readonly>
    <div id="game_info_flexbox">
        <div style="display: none;" id="gamemode_value_div">
        <label for="gamemode" class="small">Gamemode<br></label>
        <select name="gamemode" id="gamemode_select" disabled>
            <option value="First to [value] clicks">First to <span id="select_first_to_value">50</span> clicks</option>
            <option value="Best top speed in [value]s">Best top speed in <span id="select_best_top_value">10</span>s</option>
        </select>
        <br>
        <label for="value" class="small">Value<br></label>
        <select name="value" id="value_select" disabled>
            <option value="50" class="first_to_values">50</option>
            <option value="75" class="first_to_values">75</option>
            <option value="100" class="first_to_values">100</option>
            <option value="125" class="first_to_values">125</option>
            <option value="150" class="first_to_values">150</option>

            <option value="10" class="best_top_values">10</option>
            <option value="15" class="best_top_values">15</option>
            <option value="20" class="best_top_values">20</option>
            <option value="25" class="best_top_values">25</option>
            <option value="30" class="best_top_values">30</option>
        </select>               
        </div>

        <div id="gamemode_info_div" class="secondary_box_background">
            <div class="little_box_title">
                <p id="tutorial_title">First to 100 clicks</p>
            </div>
            <p id="tutorial_text">The first player to click 100 times, wins the game!</p>
        </div>

        <div id="joined_players_div" class="secondary_box_background">
            <div class="little_box_title">
                <p>Joined Players</p>
            </div>
            <div id="player1_user_span" class="leaderboard_item"><p id="player1_text">Loading...</p></div>
            <div id="player2_user_span" class="leaderboard_item"><p id="player2_text">Waiting for player...</p></div>
            </div>

    </div>
    <div id="start_game_button_div">
        <button class="header_button" id="start_game" disabled>Start</button>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script>
    const game_id = "{{ game_id }}";
    const default_pfp = "{% static 'images/default_pfp.jpg' %}";
</script>

<script src="{% static 'js/session.js' %}"></script>
{% endblock %}
