{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CPS Battles{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pixelify Sans' rel='stylesheet'>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Twemoji JS -->
    <script src="{% static 'js/twemoji.min.js' %}"></script>
    
</head>
<body data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <header>
        <div class="header_flexbox">
        <button type="button" id="home_button"><img id="header_logo" src="{% static 'images/cps_battles.png' %}" alt="CPS Battles Logo"></button>
        <button type="button" id="leaderboards_button" class="header_button">LEADERBOARDS</button>

        {% if user.is_authenticated %}
            <div class="dropdown" style="float:left;">
                <button type="button" id="profile_button" class="header_button">PROFILE</button>
                <div class="dropdown-content" style="left:0;">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {% else %}
            <button type="button" id="login_button" class="header_button">LOGIN</button>
        {% endif %}
        
        </div>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>


    {% block scripts %}{% endblock %}
    

    {% if user.is_authenticated %}
        <script src="{% static 'js/base_logged_in.js' %}"></script>
        <script>
            const user_id = "{{user.id}}";
        </script>
    {% else %}
        <script src="{% static 'js/base_logged_out.js' %}"></script>
    {% endif %}
   


</body>
</html>
