{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CPS Battles{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <header>
        <div class="header_flexbox">
        <button type="button" id="home_button" class="header_button">CPS BATTLES</button>
        <button type="button" id="leaderboards_button" class="header_button">LEADERBOARDS</button>

        {% if user.is_authenticated %}
            <button type="button" id="profile_button" class="header_button">PROFILE</button>
        {% else %}
            <button type="button" id="login_button" class="header_button">LOGIN</button>
        {% endif %}
        
        </div>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>


    {% block scripts %}{% endblock %}
    

    {% if user.is_authenticated %}
        <script src="{% static 'js/base_logged_in.js' %}"></script>
    {% else %}
        <script src="{% static 'js/base_logged_out.js' %}"></script>
    {% endif %}


</body>
</html>
